.metadata
.metadata/*
a/.metadata/
b/.metadata/
.metadata/.plugins/*
.metadata/.bak*
vanets/.cProject
.metadata/.metadata
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
vanets/out/*
vanets/test/work/
veins/.csettings/
veins/.settings/
