.metadata
.metadata/*
.metadata/.plugins/*
.metadata/.bak*
.metadata/.metadata
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi


vanets/.oppbuildspec
vanets/.cProject
vanets/Makefile
vanets/src/.tkenvrs
vanets/src/.tkenvrc
vanets/src/Makefile

vanets/out/
vanets/tests/work/
vanets/tests/libgtest.a
veins/.csettings/
veins/.settings/
